*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}
body{
    height: 1500px;
    width: 100%;
    overflow-x: hidden;
}
#title{
    letter-spacing: 4px;
}
#bar{
    box-shadow: transparent ;
    box-shadow:
    13.1px 8.9px 7.3px rgba(0, 0, 0, 0.08),
    115px 78px 83px rgba(0, 0, 0, 0.047);
    color: white;
    z-index: 99;
}
#art_store{
    position: relative;
    width: 100%;
    margin: 7px;
    transition: 0.1s linear;
    text-align: center;
    background-color: rgb(219, 30, 30);
    border-radius: 9px;
}
#art_magazine{
    position: relative;
    width: 100%;
    margin: 7px;
    transition: 0.1s linear;
    text-align: center;
}
#about{
    position: relative;
    width: 100%;
    margin: 7px;
    transition: 0.1s linear;
    text-align: center;
}
#art_magazine:hover{
    background-color: #ddd4d4d7;
    cursor: pointer;
    border-radius: 9px;
    text-align: center;
}
#about:hover{
    background-color: #ddd4d4d7;
    cursor: pointer;
    border-radius: 9px;
    text-align: center;
}
#art_store:hover{
    cursor: pointer;
    border-radius: 9px;
    text-align: center;
}
.nav{
    height: 100vh;
    width: 100vw;
}
#title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.title3{
    display: inline-block;
}
#text{
    letter-spacing: 5px;
   border-right: 5px solid;
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   animation: 
   typing 7s steps(28),
   cursor .5s step-end infinite alternate;
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
}
main{
    height: 100vh;
    width: 100vw;
}
.card-imsa{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid rgba(0, 0, 0, 0.404);
    position: relative;
    color: white;  
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    background-position: center;   
}
.card-imsa:hover .card-body{
right: 0;
}
.card-body{
    transition: 1.6s;
    width: 100%;
    height: 100%;
    top: 0px;
    right: -100%;
    position: absolute;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
}
#br{
    height: 100vh;
}

#bod{
    letter-spacing: 25px;
    font-size:30px;
    cursor: pointer;
}
#blue{
    text-decoration: none;
    color: white;
}
